<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Selamat Datang di Sekolah</h1>
    <nav>
      <ul>
        <li><a href="student.ejs"></a></li>
        <li><a href="teacher.ejs"></a></li>
        <li><a href="mapel.ejs"></a></li>
      </ul>
    </nav>
  </body>
</html>
