<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapel</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <h1>Tabel Mapel</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Mapel</th>
      </tr>
      <tr>
        <td>1</td>
        <td>IPA</td>
      </tr>
      <tr>
        <td>2</td>
        <td>IPS</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Matematika</td>
      </tr>
      <tr>
        <td>4</td>
        <td>PKN</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Agama</td>
      </tr>
      <tr>
        <td>6</td>
        <td>B.Inggris</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Seni Budaya</td>
      </tr>
      <tr>
        <td>8</td>
        <td>PJOK</td>
      </tr>
    </table>
  </body>
</html>
