<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Student</title>
  </head>
  <body>
    <h1>Tabel Student</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mail</th>
        <th>Gender</th>
        <th>Birth Date</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Joko</td>
        <td>Santodo</td>
        <td>jokosantoso@mail.com</td>
        <td>male</td>
        <td>28-04-2004</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Lukman</td>
        <td>Riki</td>
        <td>lukmanriki@mail.com</td>
        <td>male</td>
        <td>13-04-2004</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Siti</td>
        <td>Nurhayati</td>
        <td>sitinurhayati@mail.com</td>
        <td>female</td>
        <td>12-05-2005</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Rika</td>
        <td>Risti</td>
        <td>rikaristi@mail.com</td>
        <td>female</td>
        <td>03-01-2005</td>
      </tr>
    </table>
  </body>
</html>
