<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <h1>Tabel Teacher</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mail</th>
        <th>Gender</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Aditya</td>
        <td>Firdaus</td>
        <td>adityafirdaus@mail.com</td>
        <td>male</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ridwan</td>
        <td>Hafiz</td>
        <td>ridwanhafiz@mail.com</td>
        <td>male</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Lili</td>
        <td>Fitriyani</td>
        <td>lilifitriyani@mail.com</td>
        <td>female</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Alia</td>
        <td>Izzah</td>
        <td>aliaizzah@mail.com</td>
        <td>female</td>
      </tr>
    </table>
  </body>
</html>
